{% extends 'base.html' %} 

{% block body %}

<div class="container" my-5>
   <h1  class='my-5 text-center'>Welcome! To our online Mesuem ticket booking site.</h1>
	<div class="card shadow-sm my-5">
	<div class=" g-1 mx-5 my-5">
	    <img src="/static/img/6.jpg" class="d-block" alt="..." style="float:right" height=300 width=500>
	    <p class="card-text text-left" style='font-size:25px'>Book your ticket in your own space within a couple of minutes for visiting most famous museums and heritage sites in india .
	     Plan a trip with your friends and family. Take a break from your daily routine.</p>
	    <a class="btn btn-danger" href="/booking" role="button" style='color:yellow'>Book a Ticket</a>
	</div>
	 
	</div>
</div>

{% endblock body %}

